<app-header-bar
  [appTitle]="title"
  [movieQuery]="defaultSearch"
  (movieSearchEmitter)="onMovieSearch($event)"
></app-header-bar>
<div class="wrapper">
  <app-side-navigation
    [ngClass]="{ fullnav: !isSideNavHidden && isMobile }"
  ></app-side-navigation>

  <!-- Page Content -->
  <div id="content" [ngClass]="{ hiddencontent: !isSideNavHidden && isMobile }">
    <app-results-view
      [loading]="loading"
      [movieResults]="movieResults"
      [errorMessage]="searchError"
    ></app-results-view>
  </div>
</div>
